.root {
     -fx-background-color: rgba(198, 119, 192, 0.18);
}

.label {
    -fx-font-size: 14px;
	-fx-font-family: "Copperplate Gothic Light";
	-fx-font-weight: bold;
}

.combo-box {
    -fx-font-size: 14px;
    -fx-text-fill: #3d0e70;
    -fx-font-family: "Copperplate Gothic Light";
}
.text-field {
    -fx-font-size: 14px;
    -fx-font-family: "Copperplate Gothic Light";
}

.text-field:focused {
    -fx-font-size: 14px;
    -fx-font-family: "Copperplate Gothic Light";
}

.button {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Copperplate Gothic Light";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#ca83d6, #7d5b9c);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#7d5b9c, #ca83d6);
}